@import "../../common/styles/_variables.scss";

.fade-in {
    animation: fadeIn .6s;
}

.fade-out {
    animation: fadeOut .6s;
    animation-fill-mode: forwards;
}

.modal {
    height: auto;
    width: 600px;
    display: block;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    border-radius: 22px;
    background-color: $white;
    
    .title {
        font-size: 2em;
        font-family: "Paytone One", sans-serif;
        color: $white;
        background-color: $dark-blue;
        border-radius: 20px 20px 0 0;
        padding: .5em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close-button {
            cursor: pointer;
        }
    }

    .body {
        padding: 1em;
        font-size: 1em;
        font-family: sans-serif;
        line-height: 1.2em;
    }

    .footer {
        padding: 1em;
        border-top: 1px solid rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}